:root {
  /* --main-color:rgb(255, 255, 255);
    --back-color:rgb(51, 52, 53); */
  --main-color: rgb(83, 88, 92);
  --back-color: rgb(255, 255, 255);
}

.completebody {
  /* background-color: white; */
  background-color: var(--back-color);
  width: 100%;
  color: var(--main-color);
  /* margin-top: 54px; */
}

#navscroll {
  top: 0;
  width: 100%;
}

.navcursur {
  justify-content: center;
  align-items: center;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navHead {
  color: var(--main-color);
  font-weight: 500;
  font-size: 24px;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: auto 3%;
}

.navHead:hover {
  /* color: rgb(181, 181, 223); */
  /* color: rgb(135, 113, 195); */
  color: rgb(164, 175, 187);
}

.secondnav {
  margin: auto auto auto 5%;
  padding: auto 4%;
  align-items: center;
}

.side{
  width: fit-content;
  margin: auto;
}

.secondnav .side a {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  color: var(--main-color);
  text-decoration: none;
  margin-right: 40px;
}

.secondnav .side a:hover {
  color: rgb(158, 166, 173);
}

.mode {
  position: fixed;
  height: max-content;
  float: left;
  top: 100px;
  justify-content: center;
  width: fit-content;
  z-index: 10;
  font-size: 24px;
  background-color: rgb(158, 166, 173);
  padding: 3px 5px 3px 5px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: .5s ease-in-out;
}

.mode .fa{
  text-align: center;
  text-decoration: none;
  color: black;
  transition: .5s ease-in-out;
  padding: 0px 10px 0px 0px;
}

.dosocial {
  position: fixed;
  height: max-content;
  float: left;
  top: 200px;
  justify-content: center;
  width: fit-content;
  z-index: 10;
}
.mode .fa-toggle-off{
  color: white;
}
.mode .fa-toggle-on{
  color: black;
}

.icon .fa {
  text-align: center;
  text-decoration: none;
  color: black;
  transition: .5s ease-in-out;
  padding: 0px 10px 0px 0px;
}

.icon {
  font-size: 24px;
  background-color: rgb(158, 166, 173);
  padding: 3px 5px 3px 5px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: .5s ease-in-out;
}

.icon:hover {
  padding: 3px 5px 3px 20px;
}

.icon:hover .fa-github{
  color: white;
  transform: scale(1.2);
}

.icon:hover .fa-facebook {
  color: rgb(18, 52, 243);
  transform: scale(1.2);
}
.icon:hover .fa-linkedin {
  color: rgb(80, 116, 233);
  transform: scale(1.2);
}

.icon:hover .fa-twitter {
  color: rgb(91, 73, 255);
  transform: scale(1.2);
}

.icon:hover .fa-instagram {
  color: rgb(235, 31, 109);
  transform: scale(1.2);
}

.formdisplay {
  cursor: pointer;
}

#contactform {
  width: 27%;
  margin: auto;
  position: fixed;
  z-index: 11;
  top: 100px;
  left: 25%;
  right: 25%;
  display: none;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  /* background-color: rgb(158, 166, 173); */
  background-color: var(--main-color);
}

#contactform h4 {
  color: var(--back-color);
  margin: 2%;
}

.cut {
  font-size: 30px;
  color: var(--back-color);
}

.cut .fa {
  float: right;
  margin: 2%;
}

#contactform input,
#contactform textarea {
  border-radius: 10px;
  border: 2px solid var(--back-color);
}

#contactform button {
  float: right;
  background-color: rgb(158, 166, 173);
  margin: 2%;
  font-weight: 500;
  color: var(--back-color);
  text-transform: uppercase;
}

#contactform label {
  color: var(--back-color);
}

.main {
  margin-top: 70px;
  /* height: fit-content; */
  width: max-content;
}

.animation-box {
  align-items: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.animation-box h3 {
  font-size: 24px;
  width: 100%;
  margin: auto;
  padding: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ani {
  clear: both;
  width: 100%;
  height: 82px;
  margin: 0;
}

.hidden {
  opacity: 0;
}

.console-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  /* height:200px; */
  /* width:600px; */
  display: block;
  position: relative;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.console-underscore {
  color: var(--main-color);
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 1px;
}

.animation-box p {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contactbutton {
  color: black;
  font-size: 20px;
  background-color: rgb(158, 166, 173);
  width: fit-content;
  padding: 2%;
  border: 2px solid rgb(158, 166, 173);
  border-radius: 20px;
  cursor: pointer;
}

.contactbutton:hover {
  color: white;
}

.headsvg {
  /* border: 3px solid var(--back-color); */
  width: 300px;
  height: 300px;
  border-radius: 250px;
  /* align-items: center; */
  /* margin: auto 5px; */
  overflow: hidden;
}

.skills {
  width: 100%;
  /* height: fit-content; */
  /* text-align: center; */
  margin: auto;
}

.skills h1 {
  margin: auto 10% 5% 10%;
}

.prdesign,
.edudesign {
  align-items: center;
  /* width: 100%; */
  /* height: fit-content; */
  margin: auto 10%;
  min-height: 400px;
}

/* .edudesign {
  margin: auto 18%;
} */

.nonprogs {
  width: 80px;
  height: 40px;
  padding: auto 10%;
  margin: auto 10%;
}

.nonprogs p {
  background-color: rgb(158, 166, 173);
  border-top: 1px solid rgb(158, 166, 173);
  width: 5px;
  height: 100%;
  align-items: center;
  margin: auto;
}

.progs {
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: rgb(158, 166, 173);
  color: white;
  border-radius: 50px;
  font-size: 25px;
  padding: auto;
  margin: auto;
}

.progs p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inwhat p {
  margin: auto 16px;
}

.edudesign .inwhat h5 {
  font-size: 20px;
  /* float: left; */
  width: fit-content;
  font-weight: 800;
  margin: auto;
}

.edudesign .inwhat h6 {
  font-weight: 600;
  width: fit-content;
  margin: auto;
  font-size: 15px;
  font-style: italic;
}

.edudesign .inwhat p {
  font-size: 14px;
  font-weight: normal;
  clear: both;
  text-transform: initial;
}

.line {
  width: 10px;
}

.inwhat {
  font-size: 25px;
  text-align: center;
  padding: auto;
  margin: auto;
  text-transform: uppercase;
  text-rendering: optimizeSpeed;
  font-weight: 600;
}

.line2 {
  background-color: rgb(158, 166, 173);
  width: 4px;
  height: 40px;
}

.line3 {
  font-size: 24px;
  color: rgb(158, 166, 173);
  /* width: 20px; */
}

.certifacteimg{
  width: 300px;
  height: 200px;
  margin: 30px auto;
}

.certifacteimg img{
  border-style: inset;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  height: 80%;
}

.certifacteimg p{
  width: fit-content;
  text-align: center;
}

.certifacteimg p span{
  font-weight: 800;
}

.footer {
  clear: both;
  margin: 3% auto;
}

.footer .sec1,
.sec2 {
  clear: both;
  width: 80%;
  height: fit-content;
  margin: auto;
  text-decoration: none;
}

.sec1 h1 {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.projectlink a {
  color: var(--main-color);
  text-decoration: none;
  width: 100%;
  padding: 1%;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.projectlink a:hover {
  background-color: var(--main-color);
  color: var(--back-color);
  padding: 2% 20%;
}

.sec2 p {
  margin: auto;
  width: fit-content;
  margin-top: 2%;
  font-size: 20px;
}

.sec2 p .contactclick {
  cursor: pointer;
}

.contactclick:hover {
  color: rgb(181, 181, 223);
}

.sec3 h6 {
  width: fit-content;
  margin: auto;
  font-weight: 100;
}

.sec3 h6 i {
  margin: 2px;
}

@media (max-width: 1000px) {

  .skills {
    width: 100%;
    margin: 10% auto;
  }
  #contactform {
    width: 40%;
    left: 10%;
    right: 10%;
  }
}

@media (max-width: 790px) {
  #contactform {
    width: 50%;
    left: 10%;
    right: 10%;
  }
}

@media (max-width:768px) {
  .secondnav .side a {
    width: 100%;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    color: var(--main-color);
    text-decoration: none;
  }
  .certifacteimg{
    width: 80%;
    height: 250px;
  }
}

@media (max-width: 578px) {
  #contactform {
    width: 70%;
    left: 10%;
    right: 10%;
  }
}

@media (max-width: 470px) {
  .headsvg {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
}
