@import url('./main.css');

.projectcard{
    border: none;
    background-color: var(--back-color);
    color: var(--main-color);
}

.projectcard a img{
    border: 3px outset transparent;
    border-radius: 10px;
}

.projectcard p{
    color: var(--main-color);
    height: 100px;
    width: 100%;
    overflow: auto;
}